*{
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgb(55, 57, 57);
}

.marcoheader {
    padding: 20px;
}

.contenedorheader {
border: 7px solid blue;
text-align:right;
}

#headerh1curriculum {
 font-size: 40px;
}

#headerh1nombre {
    color:rgb(202, 209, 242);
}

#headerh5profesion {
    color:rgb(202, 209, 242);
}


body {

}

.contenedormain {

}

.seccionizquierda{
    border-top-width: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.seccionderecha {
    background-color: rgb(202, 203, 203);
    border-top-width: 12px;
    padding-top: 12px;
    padding-bottom: 12px;

}

p {
    font-size: large;
}


img {
    border-radius: 130px;
    margin: 10px;
    width: 200px;
    height: 200px;
}

footer {
    background-color: rgb(55, 57, 57);
    color:rgb(202, 209, 242);
    text-align: center;
}

